<% if resource.errors.any? %>
  <div class="bg-red-50 border border-red-200 text-red-700 rounded-xl px-4 py-3 text-sm mb-4" data-turbo-temporary>
    <ul class="list-disc list-inside space-y-0.5">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
